@using Microsoft.AspNetCore.Identity
@using ecpmmerceApp.Domain.Entities.Identity
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

<div class="d-flex justify-content-end">
    @if (signInManager.IsSignedIn(User))
    {
        var userName = @User.Identity.Name;
        <span class="me-3 text-black">Welcome, @userName!</span>
        <button class="btn btn-outline-dark mx-2" onclick="window.location.href='@Url.Action("Logout", "Account")'">Logout</button>
    }
    else
    {
        <button class="btn btn-outline-dark mx-2" onclick="window.location.href='@Url.Action("Login", "Account")'">Login</button>
         <button class="btn btn-outline-dark mx-2" onclick="window.location.href='@Url.Action("Register", "Account")'">Register</button>
    }
</div>
