@{
    ViewBag.Title = "AnError Equire";
    Layout = "~/Views/Shared/Error.cshtml";
}
<div class="text-center mt-5">
    <img src="~/images/errors/error.jpg" alt="AnError Equire" class="img-fluid w-100" style="max-height: 70vh; object-fit: cover;" />

    <h1 class="mt-4">AnError Equire</h1>
    <p class="mb-4">Something went wrong on our end. Please try again later.</p>

    <div class="d-flex justify-content-center gap-3">
        <a href="~/Home/Index" class="btn btn-primary">Go to Home</a>
        <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
    </div>
</div>

